@charset "UTF-8";
.font-size-16 {
  font-size: 1.6rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.width-10 {
  width: 10rem;
}

.width-15 {
  width: 15rem;
}

.width-30 {
  width: 30rem;
}

.width-45 {
  width: 45rem;
}

.width-60 {
  width: 60rem;
}

.btn,
a.btn,
button.btn {
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  border: 1px solid #991c21;
  font-size: 1.6rem;
  color: white;
  background-color: #c8161d;
}
.btn:hover,
a.btn:hover,
button.btn:hover {
  color: white;
  background-color: #dd0000;
}

.btn-sub,
a.btn-sub,
button.btn-sub {
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  border: 1px solid #991c21;
  font-size: 1.2rem;
  color: black;
  background-color: #ffdede;
}
.btn-sub:hover,
a.btn-sub:hover,
button.btn-sub:hover {
  color: black;
  background-color: #ffcece;
}

.form-search__item-list {
  margin-bottom: 1rem;
}
.form-search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-search__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 25rem;
  min-width: 25rem;
  padding: 0.5rem 1.5rem;
}
.form-search__item-value {
  padding: 0.5rem 1.5rem;
}
.form-search__item-value--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem 2.5rem;
}

/** アンカー共通処理 */
.login-nav__li a, .login-header__nav-anchor {
  color: white;
}
.login-nav__li a:hover, .login-header__nav-anchor:hover {
  color: white;
}
.login-nav__li a:not([class*=btn]), .login-header__nav-anchor:not([class*=btn]) {
  position: relative;
  display: inline-block;
}
.login-nav__li a:not([class*=btn])::after, .login-header__nav-anchor:not([class*=btn])::after {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.login-nav__li a:not([class*=btn]):hover::after, .login-header__nav-anchor:not([class*=btn]):hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/** メインコンテンツ */
.login-main__inner, .breadcrumb__nav {
  padding-top: 1rem;
}

.login-alert, .login-main .login-main__title-box, .breadcrumb__list {
  padding-left: 1.5rem;
}

.form-regist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.form-regist__item:first-of-type {
  border-top: 1px solid lightgray;
}
.form-regist__item-section {
  margin-bottom: 1rem;
}
.form-regist__item-section:last-of-type {
  margin-bottom: 0;
}
.form-regist__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
}
.form-regist__item-input--flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0rem 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-regist__item-input--flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0rem 2.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.form-regist__item-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-regist__item-modal-value {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #FFAAAA;
  border: 1px solid red;
  border-radius: 1rem;
  line-height: 1.2;
}
.form-regist__caution {
  font-size: 1.2rem;
}
.form-regist__required {
  display: inline-block;
  background: #c8161d;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
  line-height: 1;
  margin-right: 0;
  margin-left: auto;
}

.message-table {
  /** 交渉一覧リスト */
}
.message-table tr th,
.message-table tr td {
  padding: 1rem;
}

.nego {
  /** 交渉一覧リスト */
}
.nego__matter {
  margin-bottom: 3rem;
}
.nego__matter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.nego__matter-title {
  border-left: 0.5rem solid #c8161d;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.nego__matter-status {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: white;
  margin-left: 3rem;
}
.nego table tr th {
  padding: 1rem;
}
.nego table tr th.col__start-date {
  width: 12rem;
}
.nego table tr th.col__progress {
  width: 18rem;
}
.nego table tr th.col__update-user {
  width: 20rem;
}
.nego table tr th.col__message {
  width: 5rem;
}
.nego table tr td {
  padding: 1rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

dl, dt, dd, ol, ul, p {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.font-16 {
  font-size: 1.6rem;
}

.font-14 {
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.layout-login {
  display: grid;
  width: 1366px;
  grid-template-columns: 280px calc(1366px - 280px);
  grid-template-rows: 72px auto;
  margin-left: auto;
  margin-right: auto;
}
.layout-login header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.layout-login nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.layout-login main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.login-header__inner {
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
  -webkit-box-shadow: 0 0 1rem gray;
          box-shadow: 0 0 1rem gray;
}
.login-header__title {
  max-width: 8rem;
}
.login-header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-header .login-header__nav-list-right, .login-header .login-header__nav-list-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-header__nav-list-left {
  margin-left: 4rem;
  margin-right: auto;
}
.login-header__nav-list-right {
  margin-left: auto;
  margin-right: 0;
}
.login-header__nav-item-left {
  margin-right: 4rem;
}
.login-header__nav-item-right {
  margin-left: 4rem;
}
.login-header__nav-button {
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  border: 1px solid #991c21;
  font-size: 1.4rem;
  color: #c8161d;
  background-color: white;
  padding: 1rem 2rem;
}
.login-header__nav-button:hover {
  color: white;
  background-color: #c8161d;
}

.login-nav {
  background-color: #c8161d;
}
.login-nav__inner {
  height: calc(100vh - 72px);
  min-height: 768px;
  padding: 1rem 1.5rem;
  overflow: auto;
}
.login-nav__button {
  display: block;
  margin: 0rem 3rem 1rem 3rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2rem;
}
.login-nav__button button {
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  border: 1px solid #991c21;
  font-size: 1.6rem;
  color: black;
  background-color: white;
  padding: 1rem 2rem;
}
.login-nav__button button:hover {
  color: black;
  background-color: white;
}
.login-nav__classification {
  padding-top: 1.5rem;
  border-top: 0.3rem solid white;
}
.login-nav__classification-title {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.login-nav__ul {
  margin-bottom: 1.5rem;
}
.login-nav__li {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-nav__li-common {
  margin-bottom: 1rem;
}
.login-nav__li--category {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}
.login-nav__li--text {
  color: white;
  margin-left: 3.5rem;
}
.login-nav__li-nopay {
  color: darkgray;
}
.login-nav__li img {
  width: 3rem;
}
.breadcrumb__nav {
  padding-bottom: 1rem;
}
.breadcrumb__list {
  white-space: nowrap;
  /* 改行（行送り）を禁止させる */
  font-size: 1.4rem;
}
.breadcrumb__list li {
  display: inline-block;
  /* インラインブロック要素にする */
}
.breadcrumb__list li:not(:last-child)::after {
  content: ">";
  /* 間の矢印を設定 */
  margin: 0 0.5rem;
  /* 左右に余白をとる */
}

.login-main {
  position: relative;
}
.login-main__title-underline {
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: 2.4rem;
  border-bottom: 0.5rem solid #c8161d;
}
.login-main__title-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 2.4rem;
  -webkit-box-shadow: 0 0 1rem gray;
          box-shadow: 0 0 1rem gray;
}

.login-alert {
  padding-top: 1.5rem;
}
.login-alert__item {
  background-color: #f8d7da;
  background-image: url("../img/icon/icon-megaphone.svg");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position-x: 1rem;
  background-position-y: center;
  border: 0.1rem solid #f5c2c7;
  margin-bottom: 1rem;
}
.login-alert__item p {
  color: #842029;
  padding: 1rem 0rem 1rem 8rem;
  font-size: 2.4rem;
}

.mypage {
  position: relative;
}
.mypage__section {
  /** 一ページに一枚 */
  padding-left: 1.5rem;
  padding-bottom: 3rem;
}
.mypage .mypage__subtitle-18, .mypage .mypage__subtitle, .mypage .mypage__title-ul {
  /** 画面外とる */
  /** __section 内で実装 */
  font-weight: bold;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}
.mypage__title-ul {
  font-size: 2.4rem;
  border-bottom: 0.5rem solid #c8161d;
}
.mypage__subtitle {
  font-size: 2rem;
}
.mypage__subtitle-18 {
  font-size: 1.8rem;
}
.mypage__action-area {
  /** 画面で利用するボタンは、基本的にこの配下に設置 */
  /** 必要に応じて、div.text-center/div.text-end でボタンを寄せる */
  padding-bottom: 1rem;
}
.mypage__button-search {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 0.5rem 2rem;
}
.mypage__button-positive {
  font-size: 1.8rem;
  line-height: 1.8;
  padding: 0.5rem 2rem;
}
.mypage__button-negative {
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 0.5rem 1rem;
}
.mypage .mypage__content-lp, .mypage .mypage__content {
  margin-bottom: 1rem;
}
.mypage__content-lp {
  padding-left: 1.5rem;
}

.mypage-notify__wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.mypage-notify__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid lightgray;
}
.mypage-notify__item-date {
  width: 10rem;
}
.reg-purchase-info__section {
  padding-bottom: 2rem;
}
.reg-purchase-info__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.reg-purchase-info__item--topborder {
  border-top: 1px solid lightgray;
}
.reg-purchase-info .reg-purchase-info__text, .reg-purchase-info .reg-purchase-info__title {
  padding: 1.5rem;
}
.reg-purchase-info__title {
  background-color: #eaeaea;
  min-width: 25rem;
  max-width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reg-purchase-info__title img {
  padding-left: 0.5rem;
}
.reg-purchase-info__required {
  display: inline-block;
  background: #c8161d;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px 7px;
  border-radius: 3px;
  line-height: 1;
  margin-right: 0rem;
  margin-left: auto;
}
.reg-purchase-info__text {
  width: 100%;
}
.reg-purchase-info__text--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0rem 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reg-purchase-info .reg-purchase-info__header-text, .reg-purchase-info .reg-purchase-info__header-title {
  padding: 0.25rem 1.5rem;
  color: gray;
}
.reg-purchase-info__header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 25rem;
  max-width: 25rem;
  font-weight: normal;
}
.reg-purchase-info__header-text--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem 1.5rem;
}
.reg-purchase-info__value-last {
  min-width: 30rem;
  max-width: 30rem;
}
.reg-purchase-info__value-before {
  min-width: 30rem;
  max-width: 30rem;
}
.reg-purchase-info__text-inner {
  margin-bottom: 1rem;
}
.reg-purchase-info__example {
  /** 記入例の表示 */
  /** 基本は bootstrap.collapsed を利用するが、そのままではうまく利用できないので追加で設定を行う */
  display: inline-block;
  width: 100%;
  line-height: 1.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.reg-purchase-info__card {
  border-radius: 0rem 0rem 0.25rem 0.25rem;
}
.reg-purchase-info__card-body {
  padding: 0.5rem 0.5rem;
  background-color: #eeeeee;
  font-size: 1.2rem;
}

.search-seller {
  /** 明細部 */
}
.search-seller__list {
  margin-bottom: 1rem;
}
.search-seller__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-seller__title {
  padding: 0.5rem 1.5rem;
  min-width: 25rem;
  max-width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-seller__text {
  padding: 0.5rem 1.5rem;
  width: 100%;
}
.search-seller__text--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.search-seller__result-item {
  border: 1px solid darkgray;
  margin-bottom: 2rem;
}
.search-seller__result-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1rem 1rem;
}
.search-seller__result-item-purchase-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  margin-left: auto;
}
.search-seller__result-item-owner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
}
.search-seller__result-item-purchase {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  margin-right: 0rem;
  margin-left: 1rem;
}
.search-seller__result-item-date {
  font-size: 1.4rem;
  padding: 0 0 0.5rem 1rem;
}
.search-seller__result-item-detail table {
  table-layout: fixed;
  width: 100%;
}
.search-seller__result-item-detail table tr td, .search-seller__result-item-detail table tr th {
  padding: 1rem 1rem;
  border-top: 1px solid darkgray;
  border-right: 1px solid darkgray;
}
.search-seller__result-item-detail table tr th {
  background-color: lightgray;
  width: 16rem;
}
.search-seller__result-item-detail table tr td:last-of-type {
  border-right: none;
}
.search-seller__result-item-detail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.search-seller__result-item-detail-list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
}

.search-buyer__list {
  margin-bottom: 1rem;
}
.search-buyer__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-buyer__title {
  padding: 0.5rem 1.5rem;
  min-width: 25rem;
  max-width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-buyer__text {
  padding: 0.5rem 1.5rem;
  width: 100%;
}
.search-buyer__text--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.search-buyer__result-item {
  border: 1px solid gray;
  margin-bottom: 1rem;
}
.search-buyer__result-item table {
  table-layout: fixed;
  width: 100%;
}
.search-buyer__result-item table tr th {
  width: 16rem;
  background-color: lightgray;
  padding: 1rem 1rem;
  border-top: 0.1rem solid darkgray;
  border-right: 0.1rem solid darkgray;
}
.search-buyer__result-item table tr td {
  padding: 0.5rem 1rem;
  border-top: 0.1rem solid darkgray;
  border-right: 0.1rem solid darkgray;
}
.search-buyer__result-item table tr td:last-of-type {
  border-right: none;
}
.search-buyer__result-header {
  background-color: #FFCCCC;
  padding: 0.5rem 1rem;
}
.search-buyer__result-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}
.search-buyer__result-owner {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: white;
}
.search-buyer__result-title {
  font-weight: bold;
  padding-left: 1rem;
}
.search-buyer__result-date {
  font-size: 1.4rem;
}
.search-buyer__result-company {
  padding: 1rem;
  font-size: 1.8rem;
}
.search-buyer__result-sector-list, .search-buyer__result-area-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.search-buyer__result-sector-item, .search-buyer__result-area-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
}
.detail-buyer {
  /** 提案部分 */
}
.detail-buyer__section {
  margin-bottom: 2rem;
}
.detail-buyer__header {
  padding: 0.5rem 1rem;
}
.detail-buyer__header-company {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
}
.detail-buyer__header-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}
.detail-buyer__header-owner {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: white;
}
.detail-buyer__header-title {
  font-weight: bold;
  padding-left: 1rem;
}
.detail-buyer__header-date {
  font-size: 1.4rem;
}
.detail-buyer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.detail-buyer__item--topborder {
  border-top: 1px solid lightgray;
}
.detail-buyer__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  min-width: 25rem;
  max-width: 25rem;
  padding: 1.5rem;
}
.detail-buyer__item-value {
  padding: 1.5rem;
}
.detail-buyer__purpose-list, .detail-buyer__feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.detail-buyer__purpose-item, .detail-buyer__feature-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
}
.detail-buyer__suggest-title {
  background-color: #c8161d;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
}
.detail-buyer__suggest-item-list {
  padding-left: 1rem;
}
.detail-buyer__suggest-item {
  margin-bottom: 1rem;
}
.detail-buyer__suggest-item-title {
  padding: 0.5rem 0;
}
.detail-buyer__suggest-item-value {
  padding: 0.5rem 0 0.5rem 1rem;
}

.contract__text {
  margin-bottom: 2rem;
}
.contract__list {
  margin-bottom: 2rem;
}
.contract__item-title {
  padding: 1.5rem;
  min-width: 25rem;
  max-width: 25rem;
}
.contract__item-input {
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style_login.css.map */