@use "global/index" as var;

.mypage {
  position: relative;

  &__section {
    /** 一ページに一枚 */
    padding-left: 1.5rem;
    padding-bottom: 3.0rem;
  }

  %__title {
    /** 画面外とる */
    /** __section 内で実装 */
    font-weight: bold;
    padding-bottom: 0.3rem;
    margin-bottom: 1.0rem;
  }
  &__title-ul {
    @extend %__title;
    font-size: 2.4rem;
    border-bottom: 0.5rem solid var.$COLOR-CORP;
  }
  &__subtitle {
    @extend %__title;
    font-size: 2.0rem;
  }
  &__subtitle-18 {
    @extend %__title;
    font-size: 1.8rem;
  }
  // &__title-box {
  //   @extend %__title;
  //   box-shadow: 0.3rem 0.3rem 0.1rem gray;
  //   border-bottom: 0.1rem solid lightgray;
  //   border-right: 0.1rem solid lightgray;
  // }

  &__action-area {
    /** 画面で利用するボタンは、基本的にこの配下に設置 */
    /** 必要に応じて、div.text-center/div.text-end でボタンを寄せる */
    padding-bottom: 1.0rem;
  }
  &__button-search {
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0.5rem 2.0rem;
  }
  &__button-positive {
    font-size: 1.8rem;
    line-height: 1.8;
    padding: 0.5rem 2.0rem;
  }
  &__button-negative {
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 0.5rem 1.0rem;
  }

  %__content {
    margin-bottom: 1.0rem;
  }
  &__content {
    @extend %__content;
  }
  &__content-lp {
    @extend %__content;
    padding-left: 1.5rem;
  }
  // &__content-scrollable {
  //   @extend %__content;
  //   border: 1px solid lightgray;
  //   overflow: auto;
  // }
}
