.mypage-top {
  &__newmessage {
//    height: calc(100vh - 80px - 105px - 34px - 20px - 182px - 21px);
    height: 44.5rem;
    //    height: 497px;
    overflow: auto;

    table {
      width: 100%;
      margin:0;
      border:none;
      background-color:#FFF;
      border-collapse:separate;
      border-spacing:0;
      border-left: 1px solid #fff;

      th {
        background:#777;
        border-right:1px solid #fff;
        color:#FFF;
        padding: 1.0rem;
        position:sticky;
        top:0;
        /* ensure header row sits atop everything else when scrolling down */
        z-index:1;
      }
      /* ensure first header cell sits atop everything else when scrolling right */
      th:first-child {
    //    padding:10px;
        position:sticky;
        left:0;
        z-index:2;
      }
      td {
        background:#fff;
        border-right: 1px solid #fff;
        border-bottom: 1px dotted #999;
        padding: 1rem;
        vertical-align: middle;
      }
      /* make first column sticky when scrolling right */
      td:first-child {
        position:sticky;
        left:0;
    //    padding:10px 5px;
        border-right-color:#fff;
        width: 21%;
        text-align: center;
      }
    }
  }
}