@use "../abstracts/variables" as var;

.complete {
  &__caution {
    width: var.$WIDTH-768;
    color: red;
    text-align: center;
    margin-top: 5.0rem;
    margin-left: auto;
    margin-right: auto;

    &-title {
      font-size: var.$FONT-SIZE-24;
      font-weight: bold;
    }
    &-text {
      font-size: var.$FONT-SIZE-16;
    }
  }
}