@use "../abstracts/variables" as var;

.contract {

  &__item {

    &-title {
      min-width: 30.0rem;
      max-width: 30.0rem;
      background-color: #eaeaea;
      padding: 1.5rem;
    }

    &-input {
      padding: 1.5rem;
    }
  }

  &__card {
    border-radius: 0.5rem;
    margin: 50px 20px 0 20px;
    box-shadow: 0 0 1.0rem gray;
  }
  &__background {
    background-image: url('../img/page/contract.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
  }
  &__message {
    padding: 1.5rem;
    color: var.$COLOR-CORP;
    font-size: var.$FONT-SIZE-24;

    &-title {
      font-size: var.$FONT-SIZE-36;
      font-weight: bold;
    }
  }
}