@use "../abstracts/variables" as var;

.price {
  &__content {
    text-align: center;

    &--mt3 {
      margin-top: 3.0rem;
    }
    &--mt5 {
      margin-top: 5.0rem;
    }
    &--mt10 {
      margin-top: 10.0rem;
    }
  }

  &__content {
    &-subject {
      font-weight: bold;
      font-size: var.$FONT-SIZE-36;
    }
    &-subject-sub {
      font-size: var.$FONT-SIZE-24;
    }
  }

  &__image {
    max-width: var.$WIDTH-1024;
  }

  &__strong {
     font-size: var.$FONT-SIZE-24;
     font-weight: bold;

     &--underline {
      border-bottom: 1px solid var.$COLOR-CORP;
    }
  }
}