@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

.questions {

  &__inner {
    width: 100%;
  }

  &__list {
    max-width: var.$WIDTH-1024;
    margin: 0 auto;

    dt {
      @include mixin.questionItemEl(var.$COLOR-GRAY-DARK, "icon-question.svg");
      display: flex;
      align-items: center;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  
    dd {
      @include mixin.questionItemEl(var.$COLOR-GRAY-THIN, "icon-answer.svg");
      margin-bottom: 2.0rem;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}
