@use "../abstracts/variables" as var;
@use "../abstracts/mixins";

.complete {

  &__panel {
    padding-top: 3.2rem;
  }
  &__inner {
    margin: 0.5rem 1.0rem;
  }
  &__title {
    text-align: center;
  }
  &__content {
    margin-top: 3.2rem;
    text-align: center;
    font-size: var.$FONT-SIZE-18;

    @include mixins.mq-down('md') {
      font-size: inherit;
    }
  }
  &__buttons {
    margin-top: 3.2rem;
    text-align: center;
  }
}