@use "../abstracts/variables" as var;
@use "../abstracts/mixins";

/**
 * フッタコンポーネント。
 * サイトトップおよびLPで利用を想定している。
 */
.footer {
  @include mixins.mq-up('md') {
    font-size: var.$FONT-SIZE-18;
  }

  &--top {
    /** サイトトップ用 */
    background-color: var.$COLOR-CORP;
  }

  &__inner {
    width: 100%;
    padding: 5.0rem 0;
    color: white;

    @include mixins.mq-up('md') {
      max-width: var.$WIDTH-DEFAULT;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;

    &-content {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2.0rem;
      margin-bottom: 4.0rem;  
    }

    &-list {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }

    &-category {
      font-size: larger;
      margin-bottom: 1.5rem;

      @include mixins.mq-up('md') {
        font-size: var.$FONT-SIZE-20;
      }
    }
    &-item {
      margin-bottom: 0.5rem;

      a {
        @include mixins.createAnchor();
      }
    }
  }

  &__logo {
    text-align: center;

    img {
      max-width: 30.0rem;
      margin-bottom: 1.0rem;

      @include mixins.mq-up('md') {
        max-width: 36.0rem;
        width: 100%;
      }
    }
  }
  &__copyright {
    display: block;
    color: white;
    font-size: var.$FONT-SIZE-12;
  }
}
