@charset "UTF-8";

/**
 * 変数定義
 *
 * SCSSで利用する変数を定義する。
 */

//-----------------------------------------------------------------------------
// 色関連
//-----------------------------------------------------------------------------
$COLOR-CORP: #c8161d; // 企業色
$COLOR-CORP-MIDDLE: #dabbbb;
$COLOR-CORP-DARK: #991c21;

$COLOR-GRAY-DARK: #e6e6e6;
$COLOR-GRAY-THIN: #f2f2f2;


//-----------------------------------------------------------------------------
// 幅/高さ
//-----------------------------------------------------------------------------
//$WIDTH-DEFAULT: 1366px;
$WIDTH-DEFAULT: 1346px;
$WIDTH-1280: 1280px;
$WIDTH-1024: 1024px;
$WIDTH-900: 900px;
$WIDTH-800: 800px;
$WIDTH-768: 768px;
$WIDTH-NAV: 280px;
$HEIGHT-HEADER: 72px;
$HEIGHT-HEADER-MD: 56px;
$HEIGHT-HEADER-SM: 40px;


//-----------------------------------------------------------------------------
// フォントサイズ
//-----------------------------------------------------------------------------
$FONT-SIZE-12: 1.2rem;
$FONT-SIZE-14: 1.4rem;
$FONT-SIZE-16: 1.6rem;
$FONT-SIZE-18: 1.8rem;
$FONT-SIZE-20: 2.0rem;
$FONT-SIZE-22: 2.2rem;
$FONT-SIZE-24: 2.4rem;
$FONT-SIZE-28: 2.8rem;
$FONT-SIZE-32: 3.2rem;
$FONT-SIZE-36: 3.6rem;
$FONT-SIZE-40: 4.0rem;
$FONT-SIZE-44: 4.4rem;


//-----------------------------------------------------------------------------
// ブレークポイント
//-----------------------------------------------------------------------------
$breakpoint-up: (
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1200px)',
  'xxl': 'screen and (min-width: 1400px)',
) !default;

$breakpoint-down: (
  'sm': 'screen and (max-width: 575px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 991px)',
  'xl': 'screen and (max-width: 1199px)',
  'xxl': 'screen and (max-width: 1399px)',
) !default;

$breakpoint-range: (
  'xs': 'screen and (min-width: 0px) and (max-width: 575px)',
  'sm': 'screen and (min-width: 576px) and (max-width: 767px)',
  'md': 'screen and (min-width: 768px) and (max-width: 991px)',
  'lg': 'screen and (min-width: 992px) and (max-width: 1199px)',
  'xl': 'screen and (min-width: 1200px) and (max-width: 1399px)',
) !default;
