@use "variables" as var;

@mixin gridArea($colStart, $colEnd, $rowStart, $rowEnd) {
  grid-column-start: $colStart;
  grid-column-end: $colEnd;
  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;
}

@mixin fixBottom {
  position: absolute;
  bottom: 0px;
}

@mixin createButton($fontSize, $fontColor, $backGroundColor, $hoverFontColor, $hoverBackgroundColor) {
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  border: 1px solid var.$COLOR-CORP-DARK;
  font-size: $fontSize;
  color: $fontColor;
  background-color: $backGroundColor;

  &:hover {
    color: $hoverFontColor;
    background-color: $hoverBackgroundColor;
  }
}
