@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins";

.sitetop-feature {

  &__inner {
    width: 100%;

    @include mixins.mq-up('md') {
      max-width: var.$WIDTH-DEFAULT;
      margin-left: auto;
      margin-right: auto;
      font-size: var.$FONT-SIZE-18;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mixins.mq-up('sm') {
      flex-direction: row;
      max-width: var.$WIDTH-1024;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  }

  &__item {
    text-align: center;
    border-top: 1px solid var.$COLOR-CORP;
    padding: 1.5rem 0;

    @include mixins.mq-up('sm') {
      border-top: none;
      border-left: 1px solid var.$COLOR-CORP;
      width: calc(100% / 3);
    }

    &-dtl {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:first-of-type {
      border-top: none;

      @include mixins.mq-up('sm') {
        border-left: none;
      }
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: black;

        img {
          transform: scale(1.05);
          transition-duration: 0.25s;
        }
      }
    }
  }

  &__title {
    font-weight: bold;
    color: var.$COLOR-CORP;
    margin-bottom: 1rem;

    @include mixins.mq-up('md') {
      font-size: 2.4rem; 
    }

    @include mixins.mq-up('lg') {
      order: 1;
    }
  }

  &__image {
    width: 76%;
    max-width: 20.0rem;

    @include mixins.mq-up('md') {
      max-width: 26.0rem;
    }
  }
  &__detail {
    margin-top: 5.0rem;
    text-align: center;

    li {
      margin-bottom: 3.0rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 84.0rem;
    }
  }
  &__detail-repletion {
    max-width: 78.0rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    padding: 1.0rem 1.0rem 1.5rem;

    @include mixins.mq-up('md') {
      font-size: var.$FONT-SIZE-24;
    }

    &-strong {
      font-size: var.$FONT-SIZE-40;
      font-weight: bold;
      letter-spacing: 0.25rem;
      color: var.$COLOR-CORP;
    }

    &-example {
      @include mixins.mq-up('md') {
        font-size: var.$FONT-SIZE-18;
      }
  
      &-list {
        text-align: left;
        margin: 0 auto;
        width: fit-content;

        li {
          margin-bottom: 0.5rem;
          list-style: disc;
        }
      }
    }
  }
}
