@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins";

.sitetop-keyvisual {
  max-width: var.$WIDTH-DEFAULT;
  width: 100%;
  position: relative;
  margin: 0 auto;

  &__figure-list {

    figure {
      width: 100%;
      height: 600px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;      

      @media screen and (min-width:768px) and (max-width:1199px) {
        height: 447px;
      }
      @media screen and (min-width:1200px) {
        height: 702px;
      }
    }
  }
  &__figure-01 {
    background-image: url('./img/kv02s.jpg');

    @media screen and (min-width:768px) {
      background-image: url('./img/kv02.jpg');
    }
  }
  &__figure-02 {
    background-image: url('./img/kv01s.jpg');

    @media screen and (min-width:768px) {
      background-image: url('./img/kv01.jpg');
    }
  }

  &__overlay {
    position: absolute;
    top: 1.0rem;
    width: 100%;
    z-index: 1;

    @media screen and (min-width:768px) and (max-width:1199px) {
      position: absolute;
      top: 4.5rem;
      left: calc(1rem + (100vw - 768px) * 0.175);
    }
    @media screen and (min-width:1200px) and (max-width:1366px) {
      position: absolute;
      top: 7.5rem;
      left: calc(1.5rem + (100vw - 1200px) * 0.5);
    }
    @media screen and (min-width:1367px) {
      position: absolute;
      left: 9.7rem;
      top: 7.5rem;
    }

    &-copy {
      color: var.$COLOR-CORP;
      font-weight: bold;
      font-size: calc(1.445rem + 2.0vw);
      text-align: center;
      margin-bottom: 2.0rem;

      @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 2.08rem;
        text-align: inherit;
      }
      @media screen and (min-width:1200px) {
        font-size: 3.2rem;
        text-align: inherit;
      }
    }

    &-logo {
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 64vw;
      min-width: 30.0rem;    

      @media screen and (min-width:768px) and (max-width:1199px) {
        position: inherit;
        top: 11.05rem;
        left: auto;
        transform: none;
        max-width: 27.62rem;
      }
      @media screen and (min-width:1200px) {
        position: absolute;
        top: 17.0rem;
        left: auto;
        transform: none;
        max-width: 42.5rem;
      }
    }

    &-button {
      position: absolute;
      top: 170%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: inherit;

      @media screen and (min-width:768px) and (max-width:1199px) {
        top: 20.5rem;
        left: auto;
        transform: none;
      }
      @media screen and (min-width:1200px) {
        top: 32.0rem;
        border-radius: 0.5rem;
        font-size: 2.4rem;
        padding: 0.8rem 3.0rem;
        left: auto;
        transform: none;
      }
    }

    &-caution {
      position: absolute;
      width: 90%;
      top: 208%;
      font-size: calc(1rem + 1.0vw);
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: bold;

      @media screen and (min-width:768px) and (max-width:1199px) {
        top: 25.0rem;
        left: auto;
        transform: none;
        text-align: inherit;
        font-size: small;
      }
      @media screen and (min-width:1200px) {
        top: 38.5rem;
        left: auto;
        transform: none;
        text-align: inherit;
        font-size: 1.8rem;
      }
    }

    &-appeal {
      position: absolute;
      width: 36.0rem;
      height: 17.6rem;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: calc(13rem - 10vw);

      @media screen and (min-width:768px) and (max-width:1199px) {
        width: 30%;
        bottom: 3.6rem;
        right: 0.9%;
        height: 40.0%;
        left: auto;
        transform: none;
      }
      @media screen and (min-width:1200px) and (max-width:1366px) {
        bottom: 10.6%;
        right: 1.9%;
        width: 30%;
        height: 36%;    
        left: auto;
        transform: none;
      }
      @media screen and (min-width:1367px) {
        bottom: 10.6%;
        right: 1.9%;
        width: 28%;
        height: 36%;      
        left: auto;
        transform: none;
      }

      &-01,
      &-02,
      &-03 {
        position: absolute;
        width: calc(18.0rem * 0.7);

        @media screen and (min-width:768px) and (max-width:1199px) {
          width: calc(18.0rem * 0.7);
        }
        @media screen and (min-width:1200px) {
          width: 18.0rem;
        }
      }

      &-01 {
        left: calc(50% - (18rem * 0.7) * 0.5);
        z-index: 2;

        @media screen and (min-width:768px) and (max-width:1199px) {
          left: calc(50% - (18rem * 0.7) * 0.5);
        }
        @media screen and (min-width:1200px) {
          left: calc((100% / 2) - 9.0rem);
        }
      }
      &-02 {
        z-index: 1;

        @media screen and (min-width:768px) {
          bottom: 0;
        }
      }

      &-03 {
        right: 0;
        z-index: 1;

        @media screen and (min-width:768px) {
          bottom: 0;
        }
      }
    }
  }
}
// .sitetop-keyvisual {

//   width: 100%;
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-position: center;
//   background-size: cover;

//   @include mixins.mq-up('md') {
//     max-width: var.$WIDTH-DEFAULT;
//     height: 702px;
//   }

//   &__content {
//     position: absolute;
//     top: 7.5rem;
//     left: 9.7rem;
//     z-index: 1;
//   }

//   &__copy {
//     font-size: 3.2rem;
//     font-weight: bold;
//     color: var.$COLOR-CORP;
//     margin-bottom: 2.0rem;

//     &--title {
//       font-size: 3.6rem;
//     }
//   }

//   &__logo {
//     position: absolute;
//     top: 17.0rem;
//     max-width: 42.5rem;
//   }

//   &__button {
//     border-radius: 0.5rem;
//     font-size: 2.4rem;
//     padding: 0.8rem 3.0rem;
//     position: absolute;
//     top: 32.0rem;
//   }

//   &__caution {
//     position: absolute;
//     top: 38.5rem;
//     font-weight: bold;
//     font-size: 1.8rem;
//   }

//   &__appeal {
//     position: absolute;
//     bottom: 1.6%;
//     right: 0.9%;
//     z-index: 10;
//     width: 30.0%;
//     height: 38.0%;

//     &-01,
//     &-02,
//     &-03 {
//       position: absolute;
//       width: 18.0rem;
//     }

//     &-01 {
//       left: calc((100% / 2) - 9.0rem);
//       z-index: 2;
//     }

//     &-02 {
//       bottom: 0;
//       z-index: 1;
//     }

//     &-03 {
//       bottom: 0;
//       right: 0;
//       z-index: 1;
//     }
//   }
// }
