@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins";

.sitetop-keyvisual {
  max-width: var.$WIDTH-DEFAULT;
  width: 100%;
  position: relative;
  margin: 0 auto;

  &__figure-list {

    figure {
      width: 100%;
      height: 600px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;      

      @media screen and (min-width:768px) and (max-width:1199px) {
        height: 447px;
      }
      @include mixins.mq-up('xl') {
        height: 702px;
      }
    }
  }
  &__figure-01 {
    background-image: url('/img/kv02s.jpg');

    @include mixins.mq-up('md') {
      background-image: url('/img/kv02.jpg');
    }
  }
  &__figure-02 {
    background-image: url('/img/kv01s.jpg');

    @include mixins.mq-up('md') {
      background-image: url('/img/kv01.jpg');
    }
  }

  &__overlay {
    position: absolute;
    top: 1.0rem;
    width: 100%;
    z-index: 1;

    @media screen and (min-width:768px) and (max-width:1199px) {
      position: absolute;
      width: auto;
      top: calc(4.5rem - (100vw - 768px) * 0.01);
      left: calc(1rem + (100vw - 768px) * 0.175);
    }
    @media screen and (min-width:1200px) and (max-width:1366px) {
      position: absolute;
      width: auto;
      top: 7.5rem;
      left: calc(1.5rem + (100vw - 1200px) * 0.5);
    }
    @media screen and (min-width:1367px) {
      position: absolute;
      width: auto;
      left: 9.7rem;
      top: 7.5rem;
    }

    &-copy {
      color: var.$COLOR-CORP;
      font-weight: bold;
      font-size: calc(1.445rem + 2.0vw);
      text-align: center;
      margin-bottom: 2.0rem;

      @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 2.08rem;
        text-align: inherit;
      }
      @include mixins.mq-up('xl') {
        font-size: 3.2rem;
        text-align: inherit;
      }
    }

    &-logo {
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 64vw;
      min-width: 30.0rem;    

      @media screen and (min-width:768px) and (max-width:1199px) {
        position: inherit;
        top: 11.05rem;
        left: auto;
        transform: none;
        max-width: 27.62rem;
      }
      @include mixins.mq-up('xl') {
        position: absolute;
        top: 17.0rem;
        left: auto;
        transform: none;
        max-width: 42.5rem;
      }
    }

    &-button {
      position: absolute;
      top: 158%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: inherit;

      @include mixins.mq-up('sm') {
        top: 170%;
      }

      @media screen and (min-width:768px) and (max-width:1199px) {
        top: 20.5rem;
        left: auto;
        transform: none;
      }
      @include mixins.mq-up('xl') {
        top: 32.0rem;
        left: auto;
        transform: none;
      }
    }

    &-caution {
      position: absolute;
      width: 90%;
      top: 185%;
      font-size: calc(1rem + 1.0vw);
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: bold;

      @include mixins.mq-up('sm') {
        top: 208%;
      }

      @media screen and (min-width:768px) and (max-width:1199px) {
        top: calc(25rem + (100vw - 768px) * 0.015);
        left: auto;
        transform: none;
        text-align: inherit;
        font-size: small;
      }
      @include mixins.mq-up('xl') {
        top: 38.5rem;
        left: auto;
        transform: none;
        text-align: inherit;
        font-size: 1.8rem;
      }
    }

    &-appeal {
      position: absolute;
      width: calc((10rem + 5vw) * 2.5);
      height: calc((10rem + 5vw) * 1.5);
      left: 50%;
      transform: translate(-50%, 0);
      bottom: calc(16rem - 20vw);

      @include mixins.mq-up('sm') {
        bottom: calc(20rem - 20vw);
      }

      @media screen and (min-width:768px) and (max-width:1199px) {
        width: calc(26rem + (100vw - 768px) * 0.125);
        height: calc(20rem + (100vw - 768px) * 0.025);
        left: auto;
        right: calc((100vw - 768px) * 0.12);
        bottom: calc(2.4rem - (100vw - 768px) * 0.0175);
        transform: none;
      }
      @media screen and (min-width:1200px) and (max-width:1366px) {
        width: 31%;
        height: 36%;    
        left: auto;
        right: 1.9%;
        bottom: 10.6%;
        transform: none;
      }
      @media screen and (min-width:1367px) {
        width: 31%;
        height: 36%;      
        left: auto;
        right: 1.9%;
        bottom: 10.6%;
        transform: none;
      }

      &-01,
      &-02,
      &-03 {
        position: absolute;
        width: calc(10rem + 5vw);

        @media screen and (min-width:768px) and (max-width:1199px) {
          width: calc(12.6rem + (100vw - 768px) * 0.025);
        }
        @include mixins.mq-up('xl') {
          width: 18.0rem;
        }
      }

      &-01 {
        left: calc(50% - (10rem + 5vw) / 2);
        z-index: 2;

        @media screen and (min-width:768px) and (max-width:1199px) {
          left: calc(50% - (12.6rem + (100vw - 768px) * 0.025) * 0.5);
        }
        @include mixins.mq-up('xl') {
          left: calc((100% / 2) - 9.0rem);
        }
      }
      &-02 {
        z-index: 1;
        bottom: 0;
      }

      &-03 {
        right: 0;
        z-index: 1;
        bottom: 0;
      }
    }
  }
}
