.list-type {
  &__decimal {
    list-style-type: decimal;

    li {
      list-style: decimal;
    }
  }

  &__lower-roman {
    list-style-type: lower-roman;

    li {
      list-style: lower-roman;
    }
  }

  &__hyphen {
    list-style-type: '－';

    li {
      list-style: '－';
    }
  }
}