@use "../../abstracts/variables" as var;

.article-idx {
  line-height: 165%;
  margin-top: 3.0rem;
  padding: 1.0rem 0.5rem 1rem 2.0rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  background-color: #f2f2f2;

  &__title {
    font-size: var.$FONT-SIZE-20;
  }

  &__list {
    &-item {
      list-style-position: inside;
      list-style-type: decimal;
      padding-left: 1.0rem;

      a {
        margin-left: 0.5rem;
      }
    }
  }
}