@use "../global/index" as var;

.contract {

  &__text {
    margin-bottom: 2.0rem;
  }

  &__list {
    margin-bottom: 2.0rem;
  }

  &__item {
  }

  &__item-title {
    padding: 1.5rem;
    min-width: 25.0rem;
    max-width: 25.0rem;
  }

  &__item-input {
    padding: 1.5rem;    
    align-items: center;
  }
}
