@use "../abstracts/variables" as var;

.detail-seller {

  &__content {
    margin-bottom: 2.0rem;
  }

  &__header {
    &-title {
      font-size: var.$FONT-SIZE-24;
      padding: 1.0rem 0 0.5rem;
    }
    &-date {
      font-size: var.$FONT-SIZE-16;
    }
  }

  &__item {
    &-title {
      min-width: 25.0rem;
      max-width: 25.0rem;
      background-color: #eaeaea;
      padding: 1.5rem;

      &--header {
        min-width: 25.0rem;
        max-width: 25.0rem;
        background-color: white;
        padding: 0.5rem 1.5rem;
      }
    }
    &-input {
      padding: 1.5rem;

      &--header {
        padding: 0.5rem 1.5rem;
      }
    }
  }
}
