@use "../abstracts/variables" as var;

.regist-user-seller {

  &__inner {
    width: var.$WIDTH-1024;

    &--no-padding-top {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__item {
    &-title {
      min-width: 25.0rem;
      max-width: 25.0rem;
      background-color: #eaeaea;
      padding: 1.5rem;

      &--header {
        min-width: 25.0rem;
        max-width: 25.0rem;
        background-color: white;
        padding: 0.5rem 1.5rem;
      }
    }
    &-input {
      padding: 1.5rem;
  
      &--header {
        padding: 0.5rem 1.5rem;
      }
    }
  }
}