@use "../abstracts/variables" as var;
@use "../abstracts/mixins";

.regist-user {

  &__inner {
    width: var.$WIDTH-1024;
  }

  &__explanation {
    margin-bottom: 1.0rem;
  }

  &__item {
    &-title {
      min-width: 28.0rem;
      max-width: 28.0rem;
      background-color: #eaeaea;
      padding: 1.5rem;
    }
    &-input {
      padding: 1.5rem;
    }
  }
}