.search-buyer {
  &__result {

  }
  &__result-list {
  }

  &__list {
    margin-bottom: 1rem;
  }

  &__item {
    width: 100%;
    display: flex;
  }

  &__title {
    padding: 0.5rem 1.5rem;
    min-width: 25.0rem;
    max-width: 25.0rem;
    display: flex;
    align-items: center;
  }

  &__text {
    padding: 0.5rem 1.5rem;
    width: 100%;

    &--flex {
      display: flex;
      align-items: center;
      gap: 0rem 1.5rem;
      flex-wrap: wrap;
    }
  }

  &__result-item {
    border: 1px solid gray;
    margin-bottom: 1.0rem;

    table {
      table-layout: fixed;
      width: 100%;

      tr {
        th {
          width: 16.0rem;
          background-color: lightgray;
          padding: 1.0rem 1.0rem;
          border-top: 0.1rem solid darkgray;
          border-right: 0.1rem solid darkgray;
        }
        td {
          padding: 0.5rem 1.0rem;
          border-top: 0.1rem solid darkgray;
          border-right: 0.1rem solid darkgray;

          &:last-of-type {
            border-right: none;
          }
        }
      }
    }
  }
  &__result-header {
    background-color: #FFCCCC;
    padding: 0.5rem 1.0rem;
  }
  &__result-header-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__result-owner {
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    background-color: white;    
  }
  &__result-title {
    font-weight: bold;
    padding-left: 1.0rem;
    font-size: 2.4rem;
  }
  &__result-date {
    font-size: 1.4rem;
  }
  &__result-company {
    padding: 1.0rem;
    font-size: 1.8rem;
  }
  &__result-sector-list,
  &__result-area-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.0rem;
  }
  &__result-sector-item,
  &__result-area-item {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  &__result-detail {
//    padding: 0.5rem 1.0rem;
  }
}
