.signin {

  &__section-inner {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  &__tab-content {
    border: 1px solid lightgray;
  }

  &__content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.0rem;

  }
  &__content-text {
    margin-bottom: 3.0rem;
    text-align: center;
  }
  &__form {
   margin-bottom: 3.0rem;
   text-align: center;
  }

  &__item-list {
    margin-bottom: 3.0rem;
  }
  &__item-input {
    display: flex;
    align-items: center;
    padding: 1.5rem;
  }
  &__item-title {
    width: 16rem;
    padding: 1.5rem;
  }
  &__item-input {
    display: flex;
    align-items: center;
    padding: 1.5rem;
  }

  &__target {
    display: block;
    width: auto;
    margin: 1.0rem 0.5rem;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
  }
  &__else {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      height: 0.1rem;
      position: absolute;
      top: 50%;
      width: 768px;
      background-color: darkgray;
      margin-right: 1.5rem;
      right: 100%;
    }
    &::after {
      content: '';
      height: 0.1rem;
      position: absolute;
      top: 50%;
      width: 768px;
      background-color: darkgray;
      left: 100%;
      margin-left: 1.5rem;      
    }
  }
}
