@use "../global" as global;
@use "../global/index" as var;

.sitetop-notification {

  &__list {
    width: var.$SITETOP_NALLOW-WIDTH;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.0rem;
  //    margin: auto 3.0rem;
  }

  &__item {
//    height: 4.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: var.$RADIUS-DEFAULT;
    background-color: var.$COLOR-GRAY-THIN;
  }

  &__item-date {
    width: 15.0rem;
    padding: 1.0rem 5.0rem;
    border-radius: 12px 0px 0px 12px;
    background-color: var.$COLOR-GRAY-DARK;
  }

  &__item-text {
    padding: 1.0rem 2.5rem;
    border-radius: 0px 12px 12px 0px;
  }
}
