@use "../global" as global;
@use "../global/index" as var;

.sitetop-footer {
  background-color: var.$COLOR_CORP;

  &__inner {
    width: var.$CONTENT-WIDTH;
//    display: flex;
//    align-items: center;
//    height: var.$HEADER_HEIGHT;
    margin-left: auto;
    margin-right: auto;
    padding: 2.0rem 0 0 0;
  }

  &__nav {
    display: flex;
//    align-items: center;
    justify-content: center;
    gap: 10rem;
    color: white;
  }

  &__dl {
    margin-bottom: 2rem;
  }

  &__dt {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }
      
  &__dd {
    margin-bottom: 0.5rem;
    margin-left: 1rem;

    a {
      @extend %link-hover-underline;
    }
  }

  &__copyright {
    text-align: center;
    padding-bottom: 2.0rem;
    margin-bottom: 0;
  }

  &__copyright-logo {
    width: 36.0rem;
    margin-bottom: 1.0rem;
  }

  &__copyright-text {
    display: block;
    color: white;
    font-size: 1.2rem;
    font-family: var.$FONT-ROBOTO;
  }
}
