@use "../global/variables" as var;
@use "../global/mixins" as mixin;

.sitetop-newarrival {
  &__list {
    width: var.$SITETOP_NALLOW-WIDTH;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.0rem;
  }

  &__item {
    background-color: white;
    display: grid;
    grid-template-columns: 12rem 12rem auto;
    grid-template-rows: repeat(3, auto);
    padding: 1.0rem;
    margin-bottom: 1.5rem;
  }

  &__image {
    @include mixin.gridArea(1, 2, 1, 4);
  }
  %__text {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  &__title {
    @extend %__text;
    @include mixin.gridArea(2, 4, 1, 2);
    font-weight: bold;
    font-size: 2.4rem;
  }
  &__price-label {
    @extend %__text;
    @include mixin.gridArea(2, 3, 2, 3);
  }
  &__price-value {
    @extend %__text;
    @include mixin.gridArea(3, 4, 2, 3);
  }
  &__area-label {
    @extend %__text;
    @include mixin.gridArea(2, 3, 3, 4);
  }
  &__area-value {
    @extend %__text;
    @include mixin.gridArea(3, 4, 3, 4);
  }
}
