@use "../global" as global;
@use "../global/index" as var;

.sitetop-main {

  %__sitetop-main {
    margin-bottom: 2.0rem;
//    text-align: center;
  }

  &__section {
    @extend %__sitetop-main;
    margin: 0 auto;
    padding: 1rem 0 2rem 0rem;

    &:nth-child(odd) {
      background-color: var.$COLOR-CORP-MIDDLE;
    }
  }

  &__section--noodd {
    @extend %__sitetop-main;
    margin: 0 auto;
    padding: 1rem 0 2rem 0rem;
  }

  &__section-inner {
    width: var.$CONTENT-WIDTH;
    margin-left: auto;
    margin-right: auto;
  }

  &__section-title {
    @extend %__sitetop-main;
    margin-top: 2.0rem;
    font-size: 3.2rem;
    font-weight: bold;
    font-family: var.$FONT-ROBOTO;
    text-align: center;
  }

  &__section-button {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      background-color: var.$COLOR-CORP;
      border-radius: var.$RADIUS-DEFAULT;
      text-align: center;
      color: #fff;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 1rem 3rem;
      transition: .3s;

      &:hover {
        background-color: var.$COLOR-CORP-DARK;
      }
    }
  }
}
