@use "../global" as global;
@use "../global/index" as var;

.sitetop-keyvisual {
//  height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
//  background-image: url('../img/kv02.jpg');
  background-position: center;
  background-size: cover;

  &__content {
    position: absolute;
    top: 15.0rem;
    left: 9.5rem;
    z-index: 1;
  }

  &__copy {
//    font-size: 3.5rem;
    font-size: 2.5rem;
//    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
//    font-style: italic;
    color: var.$COLOR-CORP;
    margin-bottom: 2.0rem;
  }

  &__logo {
    position: absolute;
    top: 10rem;
  }

  &__button {
//    width: 320px;
//    line-height: 42px;
//    display: block;
//    background-color: var.$COLOR-CORP;
    border-radius: 0.5rem;
//    text-align: center;
//    color: #fff;
    font-size: 2.4rem;
//    font-weight: bold;
    padding: 0.8rem 3.0rem;

    position: absolute;
    top: 25.0rem;
  }

}
