@use "../global" as global;
@use "../global/index" as var;

@mixin questionItemEl($bgColor, $bgImage) {
  min-height: 6rem;
  text-align: left;
  font-weight: normal;
  background-color: $bgColor;
  padding: 1rem;
  background-image: url("../../img/icon/" + $bgImage);
  background-repeat: no-repeat;
  background-position-x: 1rem;
  background-position-y: 1rem;
  background-size: 4rem;
  padding-left: 6rem;
}

.sitetop-question {

  &__list {
    width: var.$SITETOP_NALLOW-WIDTH;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.0rem;
  //    margin: auto 3.0rem;
  }

  dt {
    @include questionItemEl(var.$COLOR-GRAY-DARK, "icon-question.svg");
    display: flex;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
  }

  dd {
    @include questionItemEl(var.$COLOR-GRAY-THIN, "icon-answer.svg");
    margin-bottom: 1.5rem;
    border-radius: 0px 0px 12px 12px;
  }
}
