.contract-details {
  &__current {

  }
  &__item {
    &-title {
      min-width: 25.0rem;
      max-width: 25.0rem;
      background-color: #eaeaea;
      padding: 1.5rem;
    }
    &-input {
      padding: 1.5rem;
    }
  }
}