.matter-list {

  tr {
    font-size: 1.8rem;
  }

  th {
    vertical-align: middle;
    padding: 1.0rem 0.5rem 0.5rem 0.5rem;
  }

  td {
    vertical-align: middle;
    padding: 1.0rem 0.5rem;

    &.icon {
      padding: 0.5rem;
    }
  }
}