@use "../global/variables" as var;
@use "../global/extends" as ex;

/**
 * ヘッダコンポーネント。
 */
.ma-header {

  $ma-header: &;

  /** サイトトップ用 */
  &--top {
    background-color: var.$COLOR-CORP;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    width: var.$CONTENT-WIDTH;
    height: var.$HEADER_HEIGHT;

  /** ログイン後 */
  &--login {
      box-shadow: 0 0 1rem gray;
    }
  }

  &__title {
    font-size: 3.2rem;
    margin-right: 3.0rem;
  }
  &__logo {
    max-width: 8rem;
    min-width: 8rem;
  }

  /** ヘッダーナビ部 */
  &__nav {
    display: flex;
    align-items: center;
    width: 100%;

    #{$ma-header}__global-nav {
      margin-left: 0;
      margin-right: auto;
    }
    #{$ma-header}__user-nav {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;

    &--global-nav {
      gap: 2.0rem;
    }
    &--user-nav {
      gap: 2.0rem;
    }

    a {
      @extend %link-hover-underline;
    }
  }
}

