$mabutton: ".ma-btn";
$mabutton-modal: ".ma-modal-btn";

/**
 * ボタンコンポーネント。
 * Bootstrap の、btn/btn-xxxxx を組んだ上で、下記スタイルを追加で適用することで
 * ボタン幅とフォントサイズを固定する。
 * #{$mabutton}-header：ヘッダー部のボタン
 * #{$mabutton}-forward：肯定的操作
 * #{$mabutton}-back：否定的操作
 * #{$mabutton}-submit：ログイン・パスワード変更画面で利用
 * #{$mabutton-modal}-forward：(モーダル画面)肯定的操作
 * #{$mabutton-modal}-back：(モーダル画面)否定的操作
 */
#{$mabutton}-login {
  font-size: 1.4rem;
  padding: 1.25rem 2.0rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
#{$mabutton}-logout {
  font-size: 1.4rem;
  padding: 1.25rem 1.0rem;
  border-radius: 0.5rem;
}
#{$mabutton}-fw {
  font-size: 1.8rem;
  padding: 0.75rem 3.0rem;
}
#{$mabutton}-back {
  font-size: 1.6rem;
  padding: 0.5rem 3.0rem;
}
#{$mabutton}-search {
  font-size: 1.4rem;
  padding: 0.5rem 3.0rem;
}
#{$mabutton}-submit {
  font-size: 2.0rem;
}
#{$mabutton-modal}-fw {
  font-size: 1.6rem;
  padding: 0.5rem 3.0rem;
}
#{$mabutton-modal}-back {
  font-size: 1.4rem;
  padding: 0.5rem 2.0rem;
}
