@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

/**
 * レイアウトコンポーネント。
 * ログイン後のレイアウトはこれに添るところとする。
 */
.layout {
  display: grid;
  max-width: var.$WIDTH-DEFAULT;
  grid-template-columns: var.$WIDTH-NAV 1fr;
  grid-template-rows: var.$HEIGHT-HEADER auto;
  margin-left: auto;
  margin-right: auto;

  header {
    @include mixin.gridArea(1, 4, 1, 2);
  }
  nav {
    @include mixin.gridArea(1, 2, 2, 3);
  }
  main {
    @include mixin.gridArea(2, 3, 2, 3);
  }
}
